/*Benjamin Swartz
CIS 114 OL
translate.css
Final
5-24-2013*/
body {
	font-size: 16px;
}

p, span, div, li, a, input, button {
	font-family: helvetica, sans-serif;
}

h1, h2 {
	font-family: helvetica, sans-serif;
}
